@model IEnumerable<Post>

@foreach (Post post in Model)
{
    <tr>
        <th scope="row"><img style="width:70px" src="~/assets/Photos/Posts/@post.ImageUrl" /></th>
        <td>@post.User.UserName</td>
        <td>@post.CreatedAt?.ToString("MMM dd HH:mm")</td>
        <td>@post.Likes.Count()</td>
        <td>@post.Comments.Count()</td>
        <td><a target="_blank" class="btn btn-sm btn-primary" asp-area="" asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">Go Post</a></td>
    </tr>

}