@model PageNatedList<Support>

@if (Model != null && Model.Count() > 0)
{
    <nav class="mt-4" aria-label="Page navigation example">
        <ul class="pagination">
            @if (Model.PageIndex > 1)
            {
                <li class="page-item"><a class="page-link" asp-controller="Support" asp-action="index" asp-route-pageIndex="@(Model.PageIndex - 1)">&laquo</a></li>
            }
            @for (int i = Model.StartPage; i <= Model.EndPage; i++)
            {
                <li class="page-item @(Model.PageIndex == i ? "active" :"")"><a class="page-link" asp-controller="Support" asp-action="index" asp-route-pageIndex="@i">@i</a></li>
            }
            @if (Model.PageIndex < Model.TotalPage)
            {
                <li class="page-item"><a class="page-link" asp-controller="Support" asp-action="index" asp-route-pageIndex="@(Model.PageIndex + 1)">&raquo</a></li>
            }
        </ul>
    </nav>

    @foreach (Support support in Model)
    {
        <div class="accordion-item bg-transparent">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse_@support.Id" aria-expanded="true"
                aria-controls="collapseOne">
                    @support.User.UserName ( @support.User.Name @support.User.SurName )
                </button>
            </h2>
            <div id="collapse_@support.Id" class="accordion-collapse collapse"
         aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class=" my-3">
                        <h4>Support Title - @support.SupportTitle</h4>
                        <div>
                            <p style="font-weight:900 ;color:#fff !important">@support.Description</p>
                        </div>
                        <div class="text-end">
                            <a asp-controller="support" asp-action="AnswerSupport" asp-route-id="@support.Id" class="btn btn-success">Add Answer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

}
else
{
    <h4 class="text-center ">There are no support message</h4>
}