@model PostsVM
@foreach (Post post in Model.Posts)
{
    var postClass = $"postLikeCount{post.Id}"  ;
    var postImage = $"postImage{post.Id}";
    if (post.User.IsPrivate)
    {
        if (post.User.Followers.Any(u => u.UserFollowerId == Model.MyProfile.Id))
        {
            <div class="post">
                <div class="card bg-dark text-light" style="border:1px solid #383838">
                    <div class="navForPost">
                        <img src="~/assets/Photos/ProfilePhotos/@post.User.ProfilePhotoUrl" alt="">
                        <a style="text-decoration: none; color: #fff;" asp-action="UserProfile" asp-controller="Profile" asp-route-id="@post.UserId"><span class="postOwnerName">@post.User.Name @post.User.SurName</span></a>
                        @if (post.User.HaveBlueTic)
                        {
                            <i style="color: #3797F0;font-size: 16px;margin-left: 10px;" class="fas fa-check-circle"></i>
                        }
                    </div>
                    <img id="postImage" data-id="@post.Id" class="card-img-top" src="~/assets/Photos/Posts/@post.ImageUrl" alt="Card image cap">
                    <div class="card-body">
                        <div class="actions">
                            <div class="left">
                                <a class="addLikePost" data-id="@post.Id" style="color: #fff" asp-controller="Post" asp-action="Like" asp-route-id="@post.Id"><i class="@(post.Likes.Any(p=>p.UserId == Model.MyProfile.Id) ? "activeForLike fa-solid" : "fa-regular") fa-heart like"></i></a>                                <a class="text-light" asp-controller="Post" asp-action="Index" asp-route-id="@post.Id"><i class="fa-regular fa-comment"></i></a>
                                <i class="fa-solid fa-paper-plane"></i>
                            </div>
                            <div class="right">
                                <a style="color:#fff" asp-controller="Post" asp-action="Save" asp-route-id="@post.Id"><i class="@(post.Saved.Any(p=>p.UserId == Model.MyProfile.Id) ? "fa-solid" : "fa-regular") saveBtn fa-bookmark"></i></a>
                            </div>
                        </div>
                        <span class="@postClass">@(post.Likes == null ? "0" : post.Likes.Count())</span><span> Likes</span>
                        <p class="card-text">@post.Description</p>
                        @if (post.Comments != null && post.Comments.Count() > 0)
                        {
                            <a style="text-decoration: none; color: #fff;" asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">View All <span>@(post.Comments == null ? "0" : post.Comments.Count())</span> Comments</a>
                            <br>
                        }
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="d-none"></div>
        }
    }
    else
    {
        <div class="post">
            <div class="card bg-dark text-light" style="border:1px solid #383838">
                <div class="navForPost">
                    <img src="~/assets/Photos/ProfilePhotos/@post.User.ProfilePhotoUrl" alt="">
                    <a style="text-decoration: none; color: #fff;" asp-action="UserProfile" asp-controller="Profile" asp-route-id="@post.UserId"><span class="postOwnerName">@post.User.Name @post.User.SurName</span></a>
                    @if (post.User.HaveBlueTic)
                    {
                        <i style="color: #3797F0;font-size: 16px;margin-left: 10px;" class="fas fa-check-circle"></i>
                    }
                </div>
                <img class="card-img-top" src="~/assets/Photos/Posts/@post.ImageUrl" alt="Card image cap">
                <div class="card-body">
                    <div class="actions">
                        <div class="left">
                            <a class="addLikePost" data-id="@post.Id" style="color: #fff" asp-controller="Post" asp-action="Like" asp-route-id="@post.Id"><i class="@(post.Likes.Any(p=>p.UserId == Model.MyProfile.Id) ? "activeForLike fa-solid" : "fa-regular") fa-heart like"></i></a>
                            <a class="text-light" asp-controller="Post" asp-action="Index" asp-route-id="@post.Id"><i class="fa-regular fa-comment"></i></a>
                            <i class="fa-solid fa-paper-plane"></i>
                        </div>
                        <div class="right">
                            <a data-id="@post.Id" style="color:#fff" asp-controller="Post" asp-action="Save" asp-route-id="@post.Id"><i class="@(post.Saved.Any(p=>p.UserId == Model.MyProfile.Id) ? "fa-solid" : "fa-regular") saveBtn fa-bookmark"></i></a>
                        </div>
                    </div>
                    <span class="@postClass">@(post.Likes == null ? "0" : post.Likes.Count()) </span><span> Likes</span>
                    <p class="card-text">@post.Description</p>
                    @if (post.Comments != null && post.Comments.Count() > 0)
                    {
                        <a style="text-decoration: none; color: #fff;" asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">View All <span>@(post.Comments == null ? "0" : post.Comments.Count())</span> Comments</a>
                        <br>
                    }
                </div>
            </div>
        </div>
    }

}
